= form_for @post, html: {multipart: true} do |f|
  = f.label :image
  = f.file_field :image
  = f.label :caption
  = f.text_field :caption
  = f.submit

= link_to "Cancel", posts_path
= link_to "Delete Post", post_path(@post), method: :delete, data: { confirm: "Are you sure you want to delete this post?" }
